
<div class="container-fluid catalog catalog-bg">
    <div class="row catalog-row py-5">
    
        <div class="card-container mb-5 mb-lg-4 col-10 col-md-6 col-lg-4">
            <app-card/>
          </div>
          <div class="card-container mb-5 mb-lg-4 col-10 col-md-6 col-lg-4">
             <app-card/>
          </div>
          <div class="card-container mb-5 mb-lg-4 col-10 col-md-6 col-lg-4">
             <app-card/>
          </div>
          <div class="card-container mb-5 mb-lg-4 col-10 col-md-6 col-lg-4">
            <app-card/>
         </div>
         <div class="card-container mb-5 mb-lg-4 col-10 col-md-6 col-lg-4">
            <app-card/>
         </div>
    </div>
  </div>

