@media (min-width: 280px) and (max-width: 767px){
    .card-container {
        margin: 0 auto;
    }
}

.catalog {
   background-image: url('/assets/main-home.jpg');
   background-size: cover;
   background-position: center;
   padding: 40px;
   .catalog-row {
    justify-content: space-around;
   }
}