<div class="container register">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Register</h3>
          </div>
          <div class="card-body">
            <form #registerForm="ngForm" (ngSubmit)="onRegisterSubmitHandler()">
              <div *ngIf="errorMessage" class="inputField error">
                {{ errorMessage }}
              </div>
              <div class="form-group">
                <label for="email">Email *</label>
                <input
                 type="email"
                 id="email"
                 class="form-control"
                 name="email"
                 ngModel
                 email
                 required
                 #emailInput="ngModel"
                >
              </div>
              <div *ngIf="emailInput.touched" class="inputField error">
                <div *ngIf="emailInput.errors?.['required']">Email is required!</div>
                <div *ngIf="emailInput.errors?.['email']">Email is not valid!</div>
              </div>
              <div class="form-group">
                <label for="username">Username *</label>
                <input
                 type="text"
                 id="username"
                 class="form-control"
                 name="username"
                 ngModel
                 username
                 required
                 minlength="4"
                 maxlength="15"
                 #usernameInput="ngModel"
                      >
              </div>
              <div *ngIf="usernameInput.touched" class="inputField error">
                <div *ngIf="usernameInput.errors?.['required']">Username is required!</div>
              </div>
              <div *ngIf="usernameInput.touched" class="inputField error">
                <div  *ngIf="usernameInput.errors?.['minlength']">
                  Username must be at least 4 characters long!
                </div>
              </div>
              <div *ngIf="usernameInput.touched" class="inputField error">
                <div *ngIf="usernameInput.errors?.['maxlength']">
                  Username must contain macimum 15 characters!
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password *</label>
                <input
                   type="password"
                   id="password" 
                   class="form-control"
                   name="password" 
                   ngModel
                   #passwordInput="ngModel"
                   required
                   minlength="5"
                   maxlength="15"
                   >
              </div>
              <div *ngIf="passwordInput.touched" class="inputField error">
                <div *ngIf="passwordInput.errors?.['required']">
                  Password is required!
                </div>
              </div>
              <div class="inputField error" *ngIf="passwordInput.errors?.['minlength']">
                Password must be at least
                {{passwordInput.errors?.['minlength']['requiredLength']}} characters and no longer than 15 characters!
              </div>
              <div class="error" *ngIf="passwordInput.errors?.['maxlength']">
                Password shoud not be longer than
                {{passwordInput.errors?.['maxlength']['requiredLength']}} characters!
              </div>
              
              <div class="form-group">
                <label for="rePass">Repeat Password *</label>
                <input
                 type="password"
                 id="rePass"
                  class="form-control"
                  name="rePass"
                  ngModel
                  #rePassInput="ngModel"
                  minlength="5"
                  maxlength="15"
                  required>
              </div>
              <div *ngIf="rePassInput.touched" class="inputField error">
                <p class="error" *ngIf="registerForm.errors?.['required']">
                  Confirm password
                </p>
              </div>
              <div *ngIf="rePassInput.value != passwordInput.value" class="inputField error">
                Passwords do not match!
              </div>
              <div class="d-flex">
                <button type="submit" class="btn btn-block">Register</button>
                <p class="text-center m-auto">
                  Already have an account?
                  <a routerLink="/users/login">Log In</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
