<nav class="navbar navbar-expand navbar-dark menu">
  <div class="container">
      <a class="navbar-brand" href="#">HOLIDAY-LOGO</a>
      <ul class="navbar-nav justify-content-end d-flex  w-100">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/catalog">Catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/register">Register</a>
        </li>
        <button type="button" class="rounded-pill">+359 887 077 077</button>
      </ul>
    </div>
  </nav>
