<nav class="navbar navbar-expand-lg navbar-dark menu">
  <div class="container">
    <a class="navbar-brand" href="#">ZARKO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav d-flex align-items-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/catalog">Catalog</a>
        </li>
        <li *ngIf="!this.userService.isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/users/login">Login</a>
        </li>
        <li *ngIf="!this.userService.isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/users/register">Register</a>
        </li>
        <li *ngIf="this.userService.isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/hotels/create-hotel">Create-Hotel</a>
        </li>
        <li *ngIf="this.userService.isLoggedIn" class="nav-item">
          <a (click)="logout()" class="nav-link" routerLink="/">Logout</a>
        </li>
        <li *ngIf="this.userService.isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/">Welcome - {{userService.username}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
