.home{
    .bg-photo {
        width: 100%;
        height: 90vh;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (min-width: 280px) and (max-width: 767px){
    .card-container {
        margin: 0 auto;
    }
}