<div class="container home">
  <!-- Beautiful Photo -->
  <div class="bg-photo">
    <img class="img-fluid" src="/assets/home2.webp" alt="Beautiful Photo">
  </div>

  <!-- Static Hotels -->
  <div class="row py-5">
    <div class="card-container mb-4 mb-lg-0 col-10 col-md-6 col-lg-4">
      <app-card/>
    </div>
    <div class="card-container mb-4 mb-lg-0 col-10 col-md-6 col-lg-4">
       <app-card/>
    </div>
    <div class="card-container mb-4 mb-lg-0 col-10 col-md-6 col-lg-4">
       <app-card/>
    </div>
    <!-- <div class="card-container mb-4 mb-lg-0 col-10 col-md-6 col-lg-4">
      <app-card/>
   </div> -->
  </div>
  
</div>

  
<!-- <div class="row">
  <div class="col-md-4">
    <div class="hotel-card">
      <img src="path/to/hotel1/photo.jpg" alt="Hotel 1">
      <h3>Hotel 1 Name</h3>
      <p>Price per night: $X</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="hotel-card">
      <img src="path/to/hotel2/photo.jpg" alt="Hotel 2">
      <h3>Hotel 2 Name</h3>
      <p>Price per night: $Y</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="hotel-card">
      <img src="path/to/hotel3/photo.jpg" alt="Hotel 3">
      <h3>Hotel 3 Name</h3>
      <p>Price per night: $Z</p>
    </div>
  </div>
</div> -->