<div class="container details-container my-5">
  <div class="row">
    <div class="col-lg-6 mb-4 mb-lg-0 pt-lg-2">
      <img [src]="hotel?.imageUrl" class="img-fluid" alt="Hotel Image">
    </div>
    <div class="col-lg-6">
      <h1>{{ hotel?.title }}</h1>
      <p class="lead">{{ hotel?.description }}</p>
      <p class="lead">Stars: {{ hotel?.stars }}</p>
      <p class="lead">Price per night: ${{ (hotel?.price.toFixed(2)) }}</p>
      <p *ngIf="!isOwner">Likes: {{ likesCount }}</p>
      <button *ngIf="!isOwner" (click)="toggleLike()" class="btn btn-primary" [class.btn-danger]="isLiked">
        {{ isLiked ? 'Dislike' : 'Like' }}
      </button>
      <!-- <p *ngIf="!isOwner">Likes: {{ likesCount }}</p>
      <button *ngIf="!isOwner" (click)="toggleLike()" class="btn btn-primary" [class.btn-danger]="isClicked">{{ isClicked ? 'Dislike' :
        'Like'
        }}</button> -->
    </div>

  </div>

</div>