<div class="card shadow ">
  <div class="card-img-container">
    <img [src]="hotel.imageUrl" class="card-img-top" alt="{{hotel.title}}">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{hotel.title}}</h5>
    <p class="card-text">{{hotel.description}}</p>
    <p class="card-text">{{hotel.price}}</p>

    <button *ngIf="userService.isLoggedIn " [routerLink]="['/hotels', hotel._id]"
      class="btn btn-primary">Details</button>
    <button *ngIf="userService.isLoggedIn && userService.userId === hotel._ownerId"
      class="btn btn-primary">Edit</button>
    <button *ngIf="userService.isLoggedIn && userService.userId === hotel._ownerId" (click)="deleteHotel()"
      class="btn btn-danger">Delete</button>
    <!-- Add a modal for confirmation -->
    <!-- <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isDeleteModalOpen}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Delete</h5>
            <button type="button" class="close" aria-label="Close" (click)="closeDeleteModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this hotel?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="deleteHotel()">Delete</button>
          </div>
        </div>
      </div>
    </div> -->
    
    <!-- <button *ngIf="userService.isLoggedIn && userService.userId === hotel._ownerId"
      class="btn btn-danger">Delete</button> -->
  </div>
</div>