@use '../../scss/buttons' as *;

.card {
    max-width: 400px;
    margin: 0 auto;
}
// .card.card-shadow {
//     justify-content: space-around;
// }

// .card {
//     width: 100%;
//     height: 460px;
//     padding-bottom: 20px;
//     .card-img-container {
//         height: 50%;
//         width: 100%;

//         .card-img-top {
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//         }

//         .div {
//             position: relative;
//             height: 50%;
//             padding: 10px;
//             justify-content: start;
//             .btn.btn-primary {
//                 position: absolute;
//                 width:50%;
//                 margin: 0 auto;
//                 bottom: 0;
//                 left: 0;
//             }
//         }
//     }
// }