@use '../../scss/buttons' as *;

.card {
    max-width: 24rem;
    margin: 0 auto;

    .card-img-container {
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }
    }
    &:hover {
        .card-img-container {
            img {
                transform: scale(1.08);
            }
        }
    }

    .card-body {
        height: 12rem;
        position: relative;

        .description {
            display: -webkit-box;
            -webkit-line-clamp: 2; // Display up to 2 lines of text
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0.8rem;
        }

        .buttons {
            position: absolute;
            bottom: 0;
            left: 0;
            button {
                padding: 4px 32px;
            }

        }
    }

    .price {
        color: black;
        font-size: larger;
    }

    .btn-edit {
        background: green;
        color: white;
    }

    .btn-delete {
        background: red;
        color: white;
    }
}

@media (max-width:767px) {
    .card {
        .card-body {
            
            .buttons {
                button {
                    padding: 4px 19.5px;
                }
    
            }
        }
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .card {
        .card-body {
            
            .buttons {
                button {
                    padding: 4px 25.5px;
                }
    
            }
        }
    }
}

@media (min-width:1024px) and (max-width:1200px) {
    .card {
        .card-body {
            
            .buttons {
                button {
                    padding: 4px 19.5px;
                }
    
            }
        }
    }
}

@media (min-width:1201px) and (max-width:1366px) {
    .card {
        .card-body {
            
            .buttons {
                button {
                    padding: 4px 28px;
                }
    
            }
        }
    }
}