<div class="container create-hotel">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Create Hotel</h3>
          </div>
          <div class="card-body">
          
            <form   #createHotelForm="ngForm" (ngSubmit)="onHotelCreateSubmitHandler()">
              <!-- <div *ngIf="errorMessage" class="inputField error">
                {{ errorMessage }}
              </div> -->
              <div class="form-group">
                <label for="title">Name of the Hotel *</label>
                <input
                  type="text"
                  id="title"
                  class="form-control"
                  name="title"
                  ngModel
                  required
                  #hotelNameInput="ngModel"
                >
              </div>
              <!-- <div *ngIf="hotelNameInput.touched" class="inputField error">
                <div *ngIf="hotelNameInput.errors?.['required']">Name of the Hotel is required!</div>
              </div> -->
              
              <!-- Add input fields for other hotel information (image, price, description) here -->
  
              <div class="form-group">
                <label for="imageUrl">Image *</label>
                <input
                  type="text"
                  id="imageUrl"
                  class="form-control"
                  name="imageUrl"
                  ngModel
                  required
                  #imageUrlInput="ngModel"
                >
              </div>
              <!-- <div *ngIf="hotelImageInput.touched" class="inputField error">
                <div *ngIf="hotelImageInput.errors?.['required']">Image is required!</div>
              </div> -->
  
              <!-- Add more input fields for price, description, etc. here -->
              <div class="form-group">
                <label for="description">Description *</label>
                <input
                  type="text"
                  id="description"
                  class="form-control"
                  name="description"
                  ngModel
                  required
                  #descriptionInput="ngModel"
                >
              </div>
              <div class="form-group">
                <label for="price">Price *</label>
                <input
                  type="text"
                  id="price"
                  class="form-control"
                  name="price"   
                  ngModel
                  required
                  #priceInput="ngModel"
                >
              </div>
              <div class="d-flex">
                <button type="submit" class="btn btn-primary">Create Hotel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  