<div class="container create-hotel">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Create Hotel</h3>
          </div>
          <div class="card-body">
            <form   #createHotelForm="ngForm" (ngSubmit)="onHotelCreateSubmitHandler()">
              <div *ngIf="errorMessage" class="inputField error">
                {{ errorMessage }}
              </div>
              <div class="form-group">
                <label for="title">Name of the Hotel *</label>
                <input
                  type="text"
                  id="title"
                  class="form-control"
                  name="title"
                  ngModel
                  required
                  minlength="3"
                  maxlength="20"
                  #hotelNameInput="ngModel"
                >
              </div>
              <div *ngIf="hotelNameInput.touched" class="inputField error">
                <p *ngIf="hotelNameInput.errors?.['required']">Name of the Hotel is required!</p>
                <p *ngIf="hotelNameInput.errors?.['minlength']">Hotel name must be at least 3 characters long and no longer than 20!!</p>
              </div>
              <div class="form-group">
                <label for="imageUrl">Image *</label>
                <input
                  type="text"
                  id="imageUrl"
                  class="form-control"
                  name="imageUrl"
                  ngModel
                  minlength="5"
                  required
                  #imageUrlInput="ngModel"
                >
              </div>
              <div *ngIf="imageUrlInput.touched" class="inputField error">
                <p *ngIf="imageUrlInput.errors?.['required']">Image is required!</p>
                <p *ngIf="imageUrlInput.errors?.['minlength']">Image must be at least 5 characters long!!</p>
              </div>
              <div class="form-group">
                <label for="description">Description *</label>
                <input
                  type="text"
                  id="description"
                  class="form-control"
                  name="description"
                  ngModel
                  minlength="10"
                  maxlength="30"
                  required
                  #descriptionInput="ngModel"
                >
                <div *ngIf="descriptionInput.touched" class="inputField error">
                  <p *ngIf="descriptionInput.errors?.['required']">Please enter short description !</p>
                  <p *ngIf="descriptionInput.errors?.['minlength']">Description must be between 10 and 30 characters long!!</p>
                </div>

              </div>
              <div class="form-group">
                <label for="price">Price *</label>
                <input
                  type="number"
                  id="price"
                  class="form-control"
                  name="price"   
                  ngModel
                  required
                  #priceInput="ngModel"
                >
                <div *ngIf="priceInput.touched" class="inputField error">
                  <p *ngIf="priceInput.errors?.['required']">Enter the price per night !</p>
                </div>
              </div>
              <div class="form-group">
                <label for="stars">Stars *</label>
                <select id="stars" class="form-control" name="stars" ngModel required>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div class="d-flex">
                <button type="submit" class="btn btn-primary">Create Hotel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
